@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

@layer utilities {
  .snap-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
